// Place all the styles related to the Puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.Puzzles {
  // Place scoped styles here
}
@mixin tableHover {
	tbody td:hover {
		  background: #FFD800;
		  border: 1px solid #03476F;
		  color: #FFFFFF;
	}
	tbody td:hover th,
	tbody td.odd:hover th {
		background: #FFD800;
		color: #FFFFFF;
	}
}

@mixin tableRowHover {
	tbody tr:hover {
		  background: #FFD800;
		  border: 1px solid #03476F;
		  color: #FFFFFF;
	}
}

@mixin resetCell {
	font: bold 20px arial, helvetica, sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px;
	width: 11%;
	height: 11%;
	color: #333333;
}

.editableCell {
	@include resetCell;
	background-color: #FFFFFF; 
}


.readOnlyCell {
	@include resetCell;
	background-color: #6D7B8D; 
}

.cellInput {
	font: bold 18px arial, helvetica, sans-serif;
	width: 82%;
	height: 82%;
	color: #333333;
	background-color: #FFFFFF; 
}

.cellWithMoreNumbers {
	font: bold 13px arial, helvetica, sans-serif;
	color: #D2B9D3;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #FFFFFF; 
}

.hiddenOptions {
	display: none;
}

#toolbox_convas {
	border: 0px; //solid 10px #e5e5e6;
	height: 415px;
	width: 205px;
	float: left;
}

#button_convas {
	border: dotted 5px #e5e5e6;
	height: 65px;
	width: 205px;
	float: left;
	background-color: #FFFFFF; 
}

#puzzle_mgmt_convas {
	border: 0px; //solid 10px #e5e5e6;
	height: 300px;
	width: 640px;
	float: left;
	#puzzles_list_convas {
		border: 0px; //solid 10px #e5e5e6;
		height: 90%;
		width: 95%;
		float: left;
		#puzzles_list {
			border: solid 0px #03476F;
			table-layout:fixed;
			tbody th, tbody td {
				vertical-align: middle;
				text-align: center;
			}
			@include tableRowHover;
			width: 98%;
			tr {
				background-color: #43BFC7; 
			}
			.even_tr {
				background-color: #E6A9EC; 
			}
			tr {
				height: 35px;
				td, th{
					border: 0px solid #03476F;
					padding: 0px 0px 0px 0px;
					word-wrap: break-word;
					margin: 0px 0px;
					overflow: hidden;
				}
				.Description {
					width: 360px;
				}
				.ActionEdit {
					width: 35px;
				}
				.ActionDestroy {
					width: 55px;
				}
			}
		}
	}
}

#picture_canvas {
	border: solid 10px #e5e5e6;
	height: 200px;
	float: left;
}

#sudokutbl_convas {
	border: 0px; //solid 10px #e5e5e6;
	height: 355px;
	width: 355px;
	float: left;
	#sudokutbl {
		border: solid 2px #03476F;
		table-layout:fixed;
		tbody th, tbody td {
			vertical-align: middle;
			text-align: center;
		}
		@include tableHover;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		border-collapse:collapse;
		border-spacing: 0px 0px;
		width: 98%;
		height: 98%;
		float: left;
		td{
			border: 1px solid #03476F;
			padding: 0px 0px 0px 0px;
			word-wrap: break-word;
			margin: 0px 0px;
		}
	}
}

